
<%= simple_form_for(@seat_map) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_class_rows %>
    <%= f.input :first_class_seats_in_a_row %>
    <%= f.input :business_class_rows %>
    <%= f.input :business_class_seats_in_a_row %>
    <%= f.input :economy_class_rows %>
    <%= f.input :economy_class_seats_in_a_row %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
